MONGODB_HOST=
MONGODB_PORT=
MONGODB_DATABASE=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_EXPOSE_PORT=
# Security

SECRET_KEY=
ALGORITHM=
JWT_TOKEN_PREFIX=

ACCESS_TOKEN_EXPIRE=
BACKEND_CORS_ORIGINS=
API_PORT=


ENVIRONMENT=
LOG_LEVEL=
UPLOAD_DIR=


CURRENT_SEASON=

FOLDER_GCLOUD_ID=
KEY_PATH_GCLOUD=

HOSTING_URL=

BREVO_API_KEY=
YSOF_EMAIL_SENDER=

# STUDENT EMAIL TEMPLATE
STUDENT_WELCOME_EMAIL_TEMPLATE=
STUDENT_FORGOT_PASSWORD_EMAIL_TEMPLATE=
STUDENT_REGISTER_EMAIL_TEMPLATE=
